/* ===============================
   Кнопка очистки поля ввода
   =============================== 
*/
.ui-erase-btn {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: #e6e6e6;
  

  box-shadow:
    inset 3px 3px 6px rgba(0,0,0,0.25),
    inset -3px -3px 6px rgba(255,255,255,0.8);

  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.15s ease;
}

.ui-erase-btn:active {
  box-shadow:
    inset 2px 2px 4px rgba(0,0,0,0.3),
    inset -2px -2px 4px rgba(255,255,255,0.9);
  transform: scale(0.92);
}

.ui-erase-btn.is-invisible {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

