/* ===============================
   БАЗОВАЯ ОБОЛОЧКА МОДАЛКИ
   БАЗОВАЯ ВЫПУКЛАЯ МОДАЛКА
   =============================== 
*/

.ui-modal {
  background: #e3e3e3;
  border-radius: 20px;
  padding: 20px;

  /* ГЛУБОКИЙ ВЫПУКЛЫЙ ЭФФЕКТ */
  box-shadow:
    inset 10px 10px 22px rgba(0,0,0,0.55),      /* глубокая тень справа-снизу */

    6px 6px 10px rgba(0,0,0,0.45),     /* внутренняя мягкая тень */
    -2px -2px 4px rgba(255,255,255,0.8); /* внутренний свет */

  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(12px) saturate(150%);

  transition: all 0.25s ease;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;

  
}

/* ХЕДЕР */
.ui-modal-header {
  position: relative;              /* нужно для абсолютного позиционирования Х */
  display: flex;
  justify-content: center;         /* центрируем заголовок */
  align-items: center;
  
}

/* Заголовок */
.ui-modal-title {
  align-content: center;
  user-select: none;               /* нельзя выделить */
  pointer-events: none;            /* нельзя кликнуть */
}

/* ТЕЛО МОДАЛКИ — СКРОЛЛ */
.ui-modal-body {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-right: 6px;
  box-sizing: border-box;
}

/* ТОНКИЙ АККУРАТНЫЙ СКРОЛЛ */
.ui-modal-body::-webkit-scrollbar {
  width: 6px;
}

.ui-modal-body::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25);
  border-radius: 6px;
}

.ui-modal-body::-webkit-scrollbar-track {
  background: transparent;
}

/* МОБИЛЬНАЯ АДАПТАЦИЯ */
@media (max-width: 480px) {
  .ui-modal {
    width: 92vw;
    min-width: 92vw;
    max-height: 92vh;
  }
}
