/* ===============================
   Модальное окно REGISTRATION
   =============================== 
*/

.reg-form {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.divider {
  text-align: center;
  margin: 16px 0;
  position: relative;
}

.divider span {
  background: var(--modal-bg);
  padding: 0 8px;
  position: relative;
  z-index: 2;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--border-color);
  z-index: 1;
}

.oauth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}



