.translate-modal {
  background: rgb(218, 181, 255);
  border: 2px solid blue;
  border-radius: 16px;
  padding: 16px;
  width: 420px;
  height: 320px;
  min-width: 420px;
  min-height: 320px;
  position: absolute;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  resize: none;          /* мы используем свой resize */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
}

.modal-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.input-word {
  display: flex;
  width: 95%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 12px;
  margin-top: 16px;
}

.buttons-row {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.btn {
  flex: 1;
  height: 48px;
}

.btn-translate {
  background: linear-gradient(180deg, #4cf05a, #3bd04b);
  color: #242097;
}

.btn-save {
  background: linear-gradient(180deg, #4cf05a, #3bd04b);
  color: #666;
}

.results {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 10px;
}
.result-container {
  flex: 0 0 auto; /* НЕ растягивается */
  max-height: none;
  min-height: 120px;     /* минимальный размер */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  background: #fafafa;
  overflow-y: auto;      /* длинный текст — скролл */
  box-sizing: border-box;
}

