/* ===============================
   Модальное окно TRANSLATE
   =============================== 
*/



/* Уникальные элементы TranslateModal */
.input-row {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 16px;
  height: 48px;
}

.buttons-row {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.trans-btn {
  flex: 1;
  height: 48px;
}

.trans-btn-translate {
  background: linear-gradient(180deg, #6da6e8, #7062ec);
}

.trans-btn-save {
  background: linear-gradient(180deg, #6da6e8, #7062ec);
}

.results {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 12px;
  margin-bottom: 10px;
}

.result-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.result-label {
  font-size: 12px;
  font-style: italic;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.58);
  user-select: none;
}

.result-value {
  margin-left: 30px;
  font-size: 16px;
  line-height: 1.35;
  color: #171717;
  word-break: break-word;
}

.result-value-strong {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.result-container {
  flex: 0 0 auto;
  max-height: none;
  min-height: 120px;
  padding: 12px;
  overflow-y: auto;
  box-sizing: border-box;
  margin-bottom: 10px;

  background: var(--modal-bg);
  box-shadow: var(--modal-shadow-dark), var(--modal-shadow-light);
  transition: var(--modal-transition-fast);
}
