

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
  background:
    url("../assets/images/w26mob.jpg") center center / cover no-repeat fixed;
  color: var(--text);

  padding-top: var(--ic); /* отступ контента равен высоте header */
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}
