#layout-root {
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

#modal-root {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

#modal-root > * {
  pointer-events: auto;
}
