.ui-user-btn {
  flex: 1;                        /* растягиваются равномерно */
  height: 30px;                   /* высота кнопки */
  padding: 8px 20px;              /* внутренние отступы */
  border-radius: 8px;             /* скругление */
  border: none;                   /* без рамки */
  cursor: pointer;                /* курсор — кнопка */

  display: flex;                  /* горизонтальный layout */
  align-items: center;            /* центр по вертикали */
  justify-content: center;        /* центр по горизонтали */
  gap: 6px;                       /* расстояние между иконкой и текстом */

  background: rgba(138, 131, 235, 0.35);       /* матовый фон */
  user-select: none;              /* запрет выделения текста */
}

.ui-user-btn:hover {
  background: rgba(255,255,255,0.2);          /* подсветка при наведении */
  transform: translateY(-1px);                  /* лёгкий подъём */
}

.ui-user-btn:active {
  transform: translateY(1px) scale(0.97);       /* эффект нажатия */
}

